.header {
  display: flex;
  align-items: flex-start;
  height: 80px;
  padding-top: 20px;
  width: 100%;
  justify-content: center;
}

.form {
  display: inline-flex;
  align-items: center;
}

.field {
  width: 400px;
  height: 40px;
  font-size: 22px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.form button {
  border-radius: 0;
  background-color: rgb(148, 211, 211);
  font-size: 20px;
  height: 40px;
  padding-top: 6px;
  display: flex;
  padding-top: 10px;
}
