.background {
  background-image: url(../../assets/beach-gef8a2b1f7_1280-min.jpg);
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
